@import 'reset.scss';
@import 'containers.scss';

body {
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
    
    .navbar {
        text-align: left;
        text-indent: 1em;
        font-size: 1.3em;
        background: #333;
        color: #E7DACB;
        height: 50px;

    }
    a {
        color: #efefef;
        line-height: 50px;
        text-decoration: none;
    }
}
  